PORT=3000
AMADEUS_BASE_URL=https://test.api.amadeus.com
AMADEUS_CLIENT_ID=A32b2EKvDBmOud2LUVCGHjbV86noj33V
AMADEUS_CLIENT_SECRET=WW515AeMSewpaYWg
ALLOWED_ORIGINS=http://localhost:3000,https://award-flight.vercel.app
KIWI_API_KEY=